:root {
    --card-height: 260px;
    --card-width: 430px; 
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(#aaa 2px, transparent 2px);
    background-size: 60px 60px; /* distance between dots */
    position: fixed;
    
}
.dragMe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 9px;
    position: absolute;
    z-index: 10;
    transition: opacity 0.2s ease;
}
.dragMe.hidden {
  opacity: 0; /* fade out */
  pointer-events: none;
}

.dragMe p {
    transform: rotate(-10deg) translateX(-10px)
}
.card {
    width: var(--card-width);
    height: var(--card-height);
    border-radius: 20px;
    border: 2px solid black;
    padding: 30px;
    position: fixed;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-shadow: 6px 8px 17px -8px rgba(0, 0, 0, 0.48);
    box-shadow: 6px 8px 17px -8px rgba(0, 0, 0, 0.48);
}

.cardBlue .Hi_section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.cardBlue .HiTextWrap {
    height: 118px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 20px;
}
.cardBlue h2 {
    font-size: 32px;
    letter-spacing: 3.5px;
}
.cardBlue .tags {
    margin-top: 9px;
    font-size: 14px;
    letter-spacing: 1.5px;
    
    color: rgb(104, 104, 104);
}
.cardBlue .BottomTextWrap {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
}
.cardBlue .longTextWrap {
    width: 270px;
    height: 114px;
}
.cardBlue .longTextWrap p {
    font-size: 16px;
    letter-spacing: 1.5px;
    word-break: normal;
}
.cardBlue .socials {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cardBlue .socials .social {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.cardBlue .socials p {
    font-size: 16px;
    letter-spacing: 1.5px;
    word-break: normal;
}


.cardYellow {
    display: flex;
    flex-direction: column;
    gap: 50px;

}
.cardYellow h2 {
    font-size: 25px;
    letter-spacing: 3.5px;
}
.cardYellow ul {
    list-style: none; 
    padding: 0;         
    margin: 0; 
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cardYellow ul li {
    font-size: 20px;
    letter-spacing: 1.5px;
    word-break: normal;
    font-weight: 600;
    cursor: pointer;
}





.wobble {
  -webkit-animation: wobble 1s infinite;
  animation: wobble 1s infinite;
  transform-origin: center center;
}

@keyframes wobble {
  0% {
    transform: rotate(0) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-1deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(-1deg) translate3d(0, 0, 0);
  }
}


@media (max-width: 660px) {
  .card {
    transform: scale(0.8);       /* scale card and all children */
    transform-origin: top center; /* anchor the scaling */
  }
}
